@font-face {
    font-family: 'Marvin Visions';
    src: url('/styles/fonts/MarvinVisions.woff2') format('woff2'),url('/styles/fonts/MarvinVisions-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* Color Variables 
    text
    background
    glass
    primary
    secondary
    accent */
:root {
    --text: #ddf1fd;
    --background: #00060a;
    --glass: rgba(0, 0, 0, 0.271);
    --primary: #0b86e5;
    --secondary: #4d0684;
    --accent: #b209be;
    --text-dark: linear-gradient(90deg, #000000, #0091fffb 40%, #c271ff 50%, #ff00c8 70%);
    --websites-background: linear-gradient(130deg, #4399d3f8, #bb00ff, #ff00d4f8);
    
}
body.dark-mode {
    --text: #021520;
    --background: #f5fbfff8;
    --glass: rgba(204, 203, 203, 0.4);
    --primary: #1894f4;
    --secondary: #c37df9;
    --accent: #ea43f6;
    --text-dark: linear-gradient(90deg, #000000, #0091fffb 40%, #c271ff 50%, #ff00c8 70%);
    --websites-background: linear-gradient(130deg, #4399d3b7, #bb00ffa6, #ff00d4a8);
}



body {
    font-family: 'Inter', sans-serif;
    background-repeat: no-repeat;       
    background-size: cover;                  
    background-attachment: fixed;        
    background-position: center;             
    z-index: -1;
}

.fade-in {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease-out;
}

/* This class will be added dynamically */
.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

.logo {
    color: var(--primary);
    font-family: 'Marvin Visions', sans-serif;
    font-size: 1.5rem;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 10px;
}

nav a {
    text-decoration: none;
    color: var(--text);
    font-weight: 600;
    padding: 8px;
}

/* Dropdown */
.dropdown {
    position: relative;
    top: 0.5rem;
}
.drop-down {
    display: none;
    position: absolute;
    background: var(--glass);
    top: 35px;
    left: 0;
    flex-direction: column;
}
.dropdown:hover .drop-down {
    display: flex;
}
.drop-down a {
    padding: 10px;
    color: var(--text);
}
.drop-down a:hover {
    background: var(--glass);
}

/* Hamburger */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    color: var(--text);
    z-index: 1000;
}
.hamburger span {
    background-color: var(--primary);
    height: 3px;
    width: 25px;
    margin: 4px 0;
    transition: 0.4s;
}
.foot {
    display: none;
}

/* Mobile */
@media (max-width: 768px) {
   
    .dropdown {
        position: relative;
        top:0;
    }
    .drop-down {
        position: relative;
        top: 0;
    }
    nav a {padding: 0; margin-left: 20px;}
    nav a:first-of-type{ margin-top: 30px;}
    .nav-links {
        display: none;
        flex-direction: column;
        background: var(--background);
        text-align: left;
        position: fixed;
        top: 0;
        right: 0;
        width: 50%;
        height: 100vh;
        padding: 10px 0;
        z-index: 10000;
    }

    .nav-links.show {
        display: flex;
    }
    .foot {
        display: block;
        position: absolute;
        bottom: 20px;
        color: var(--primary);
        margin-left: 20px;
        animation: bounce 4s infinite;

    }
    @keyframes bounce {
        0% {
    transform: translateY(0) translateX(0);
    }
    30% {
        transform: translateY(-130px) translateX(130px);
    }
    50% {
        transform: translateY(0) translateX(0);
    }
    70% {
        transform:   translateX(100px);
    }
    100% {
        transform: translateY(0) translateX(0);
    }
    }
    .hamburger {
        display: flex;
        position: absolute;
        right: 5rem;
    }
}

/* Toggle container */
.toggle-container {
    z-index: 1000;
}

/* Hidden checkbox */
.toggle-container input {
    display: none;
}

/* Switch design */
.toggle-switch {
    width: 50px;
    height: 26px;
    background: var(--secondary);
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    transition: background 0.3s ease;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

/* The circle knob */
.toggle-switch::after {
    content: "";
    width: 22px;
    height: 22px;
    background: var(--background);
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: transform 0.3s ease;
}

/* When checked (dark mode) */
.toggle-container input:checked + .toggle-switch {
    background: var(--primary);
}

.toggle-container input:checked + .toggle-switch::after {
    transform: translateX(24px);
}
#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: var(--primary);
    color: var(--text);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    display: block;
    z-index: 1000;
}
#back-to-top:hover {
    background: var(--accent);
    padding: 10px 15px;
    transition: padding 0.3s ease;
}

    /* Flex container */
    .main-home {
        display: flex;
        align-items: stretch;   /* animation fills height */
        gap: 20px;
    }

    /* Left content */
    #home {
        flex: 1;
        color: var(--text);
        background-color: var(--glass);
        padding: 20px;
        border-radius: 10px;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 80px;
    }
    #home h3 {
        margin-top: -15px;
    }
    #home h1 {
        font-family: 'Marvin Visions', sans-serif;
        margin-top: -20px;
        margin-bottom: 10px;
    }

    /* Right image with slide-in animation */
    .home-right {
    flex: 0.5;
    border-radius: 10px;
    overflow: hidden;
    }

    .home-right img { 
        width: 100%; 
        height: 100%; 
        object-fit: cover; 
        border-radius: 10px; }


/* Responsive: hide animation on smaller screens */
@media (max-width: 768px) {
    .main-home { flex-direction: column; }
}

h1 {
    text-align: center;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    gap: 0.2em;
}
h1 span {
    display: inline-block;
    animation: ripple 5s ease-in-out infinite;
    font-size: clamp(3.3rem, 8vw, 5rem);
}
h1 span:nth-child(1) { animation-delay: 0s;}
h1 span:nth-child(2) { animation-delay: 0.1s;}
h1 span:nth-child(3) { animation-delay: 0.2s;}
h1 span:nth-child(4) { animation-delay: 0.3s;}
h1 span:nth-child(5) { animation-delay: 0.4s;}
h1 span:nth-child(6) { animation-delay: 0.5s;}
h1 span:nth-child(7) { animation-delay: 0.6s;}
h1 span:nth-child(8) { animation-delay: 0.7s;}
h1 span:nth-child(9) { animation-delay: 0.8s;}
h1 span:nth-child(10) { animation-delay: 0.9s;}
h1 span:nth-child(11) { animation-delay: 1s;}
h1 span:nth-child(12) { animation-delay: 1.1s;}
h1 span:nth-child(13) { animation-delay: 1.2s;}
h1 span:nth-child(14) { animation-delay: 1.3s;}
h1 span:nth-child(15) { animation-delay: 1.4s;}
h1 span:nth-child(16) { animation-delay: 1.5s;}
h1 span:nth-child(17) { animation-delay: 1.6s;}
h1 span:nth-child(18) { animation-delay: 1.7s;}
h1 span:nth-child(19) { animation-delay: 1.8s;}
h1 span:nth-child(20) { animation-delay: 1.9s;}
h1 span:nth-child(21) { animation-delay: 2.0s;}
h1 span:nth-child(22) { animation-delay: 2.1s;}
h1 span:nth-child(23) { animation-delay: 2.2s;}

@keyframes ripple {
    0%,20% {
        transform: translateY(0) scale(1);
        color: var(--text);
    }
    10% {
        transform: translateY(-15px) scale(1.2);
        color: var(--primary);
    }
    100% {
        transform: translateY(0) scale(1);
        color: var(--text);
    }

}
.intro {
    background: linear-gradient(135deg, var(--background), var(--glass), var(--background));
    padding: 20px;
    border-radius: 10px;
    border: var(--primary) 2px solid;
    border-left: var(--accent);
    border-top: var(--accent) 2px solid;
    max-width: 600px;
    margin-top: 40px;
    margin-left: 10px;
    text-align: left;
    height: auto;
}


#about {
    color: var(--text);
    background-color: var(--background);
    padding: 20px;
    margin-top: 20px;
}
#about h2 { text-align: center;}

.profile-pic {
    width: 300px;
    height: 300px;
    object-fit: fill;
    margin: auto;
    margin-bottom: 15px;
}
.profile-pic img {
    width: 100%;
    height: 100%;
}
.card {
    border-radius: 10px;
    border: 2px solid var(--accent);
    padding: 10px;
}
.card:nth-of-type(3) {
    width: 50%;
    max-width: 400px;
}
.info-cards {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
}
.prompt {
    font-size: smaller;
}
.card p {
    margin: 10px 0 0 0;
    color: var(--text);
}
.education {
    margin-top: 20px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.1);
    padding: 5px 10px;
}
.education a {
    text-decoration: none;
}
.education a:hover {
    color: var(--text);
    text-decoration: underline var(--accent) 2px;
}
.year {
    font-weight: bold;
    color: var(--primary);
    font-style: italic;
    margin-right: 5px;
}
.skills, .services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}
.skills span, .services span {
    background-color: var(--glass);
    border: 1px solid var(--accent);
    border-radius: 500px;
    padding: 5px 10px;
    font-size: 1rem;
    color: var(--text);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;

}
.skills {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.skill {
    position: relative;
    cursor: pointer;
}

.skill span {
    font-weight: bold;
    color: var(--primary);
    display: inline-block;
    margin-bottom: 5px;
}

.bar {
    width: 100%;
    height: 15px;
    background: var(--text);
    border-radius: 5px;
    overflow: hidden;
    display: none; /* hidden by default */
}

.fill {
    height: 100%;
    width: 0;
    font-size: 1rem;
    font-weight: bolder;
    padding-left: 5px;
    padding-bottom: 5px;
    background: var(--accent);
    transition: width 1s ease;
}
.skill:first-child .bar {
    display: block;   /* first make bar visible */
}
.skill:first-child .fill {
    width: 90%;       /* match the "data-percent" */
}
.projects {
    padding: 40px 20px;
    background: var(--background);
    color: var(--primary);
    text-align: center;
}
.project-container {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
}
.prompt,.project-number {
    font-size: 0.9rem;
    color: var(--accent);
    margin-bottom: 10px;
    display: block;
    animation: bounce 2s infinite;
}
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}
.project-box {
    background: var(--glass);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 100%;
}
.project-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 16px rgba(0,0,0,0.15);
}
.project-box h3 {
    margin-bottom: 20px;
    font-family: 'Marvin Visions', sans-serif !important;
}
.project-link {
    text-decoration: none;
}
.project-link:hover {
    text-decoration: none;
    color: var(--text);
}
.websites {
    background: var(--websites-background);
    color: var(--background);
    position: relative;
}
.project-number {
    position: absolute;
    top: 10px;
    left: 40px;
    font-size: 0.9rem;
    color: white;
    background: rgba(0,0,0,0.5);
    padding: 5px 10px;
    border-radius: 5px;
}
.project-number:hover {
    background: var(--accent);
    color: var(--background);
}
/* Downloads Section for resume*/
.resume {
    text-align: center;
    padding: 100px 0px;
}
.container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 30px 20px;
    background-color: var(--glass);
}
.download {
    max-width: 800px;
    margin: 0 auto;
}
.resume-title {
    text-align: center;
    color: var(--primary);
        margin-bottom: 60px;
    position: relative;

}
.resume-title::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 5px;
    background: linear-gradient(135deg, var(--secondary), var(--primary), var(--secondary));
    border-radius: 2px;
}
.download-container {
    max-width: 800px;
    margin: 0px auto;
}
.download-overview {
    position: relative;
    background: rgba(26, 26, 62, 0.8);
    border-radius: 20px;
    padding: 60px 40px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(100, 255, 218, 0.2);
    border-image: initial;
    overflow: hidden;
    transition: 0.3s;
}
.resume-icon {
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: linear-gradient(135deg, var(--secondary), var(--primary), var(--secondary));
    border-radius: 50%;
    margin: 0px auto;
    transition: 0.3s;
    overflow: hidden;
}
.resume-icon::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.1), transparent);
    border-radius: 50%;
}
.fa-file-pdf {
    font-size: 3.5rem;
}
.fa-file-pdf:before {
    content: "\f1c1";
}
.download-title {
    color: var(--text);
    text-align: center;
}
.highlighted-item {
    color: var(--primary);
    font-size: 2rem;
    margin-top: 30px;
    font-weight: bold;
}
.download-button {
    min-width: 250px;
    max-width: 350px;
    height: 50px;
    margin-top: 40px;
    background-color: var(--primary);
    border-radius: 20px;
    border: none;
    font-weight: bold;
    font-size: 1.2rem;
}
.download-button:hover {
    transition: 1s ease;
    transform: scale(1.1);
    cursor: grab;
}

#contact {
    padding: 40px 20px;
    color: var(--text);
    text-align: center;
}
#contact h2 {
    margin-bottom: 20px;
    background: var(--text-dark); /* gradient colors */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /* for Firefox */
    color: transparent;
}
.contact-description {
    margin-bottom: 20px;
    font-size: 1.2rem;
    color: #fff;
}
.contact-content {
    display: flex;
    flex-direction: row;
    background-color: var(--glass);
    padding: 10px;
    max-width: fit-content;
    min-width: 300px;
    margin: 0 auto;
    border-radius: 10px;
}
.contact-info {
    max-width: 400px;
    text-align: left;
    background-color: var(--background);
    border-radius: 10px;
    padding: 20px 20px 10px 20px;
}
.info {
    display: flex;
    flex-direction: column;
}
.info-item {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 10px;

}
.contact-info i {
    color: var(--text);
    margin-top: 20px;
    font-size: 1rem;
    letter-spacing: normal;
}
.contact-info a:hover {
    text-decoration: none;
}
#contact form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
    padding: 20px 20px 20px 30px;
}
#contact label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
#contact input, #contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--accent);
    border-radius: 5px;
    font-size: 1rem;
}
#contact button {
    background: var(--accent);
    cursor: pointer;
    transition: background 0.3s ease;
}
#contact button:hover {
    background: var(--primary);
}

footer {
    background-color: var(--glass);
    color: var(--text);
}


@media screen and (max-width: 600px) {
    
    header {
        height: auto;
        padding: 4px;
        z-index: 1000;
        transition: top 0.7s ease-in-out;
    }

    .hidden {
        top: -150px;
    }
    .word:first-of-type {
        font-size: 1rem;
    }
    .home-right {
        display: block;
    }
    .info-cards {
        flex-direction: column;
    }
    .card:nth-of-type(3) {
        width: 100%;
        max-width: 100%;
    }

    .resume-icon {
        width: 100px;
        height: 100px;
    }
    .contact-content {
        flex-direction: column-reverse;

    }
    
}